name: CI/CD

on:
  push:
    branches:
      - main
    tags:
      - v*
    paths-ignore:
      - README.md
      - .gitignore
      - .prettierignore
  pull_request:
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version-file: .nvmrc
      - uses: actions/setup-go@v6
        with:
          go-version-file: go.mod

      - name: Install & Build & Test
        run: |
          corepack enable
          pnpm install --frozen-lockfile
          pnpm run build
          pnpm run gen:rickandmorty
          pnpm run test:rickandmorty
          pnpm run gen:anilist

      - name: Compute package version
        id: version
        if: startsWith(github.ref, 'refs/tags/v')
        run: echo "::set-output name=version::${GITHUB_REF##refs/tags/v}"

      - name: Publish NPM package
        if: startsWith(github.ref, 'refs/tags/v')
        working-directory: packages/graphql-codegen-golang
        env:
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
        run: |
          npm version --no-git-tag-version '${{ steps.version.outputs.version }}'
          npm publish

      - name: Github Release
        if: startsWith(github.ref, 'refs/tags/v')
        uses: softprops/action-gh-release@v2
        with:
          body: |
            ## NPM Package
            https://www.npmjs.com/package/graphql-codegen-golang/v/${{ steps.version.outputs.version }}
